* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
    height: 620px;
    display: flex;
    /* EJE X */
    justify-content: center;

    /* EJE Y */
    align-items: flex-end;
    /* margin: 200px; */

    background-image: url("../imagenes/image.png");
    background-size: cover;
}

nav {
    background-color: black;
    height: 100%;
    width: 11%;
}

nav ul {
    display: flex;
    flex-direction: column;
                
}

nav li {
    padding: 1em;
    list-style: none;
}

nav a{
    text-decoration: none;
    color: white;
    color: rgba(255 ,255, 255, 0.6);
}

nav a:hover {
    color: white;
}


.content {
    color: white;
    font-size: 1.4rem;
    font-stretch: expanded;
    height: 8em;
    width: 100%;
    padding: 1em 8em;
    background-color: rgb(15, 15, 15, 0.6);
    text-align: center;
    text-shadow: 1px 1px #000;
}
